SECRET_KEY=
REFRESH_SECRET_KEY=
PORT=
KEY_KHUSUS=
APP_NAME="Belajar Express Versi 1.0"

NODE_ENV=

REDIS_PASSWORD=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_PORT=

DB_NAME_DEV=
DB_NAME_TEST=
DB_NAME_PROD=

RAILWAY_TOKEN=
RAILWAY_PROJECT_ID=
RAILWAY_SERVICE_ID=

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=